<!DOCTYPE html>
<html>
<head>
    <title>Available chats</title>
    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
</head>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Chat id</th>
        <th>Title</th>
    </tr>
    </thead>

    <tbody>
    {% for chat_id, chat in chats %}
    <tr>
        <td>{{chat_id}}</td>
        <td>{{chat.FriendlyName}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>