<!DOCTYPE html>
<html>
<head>
    <title>Available chats</title>
    <!-- Bootstrap -->
    <!--suppress HtmlUnknownTarget -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}"/>
</head>
<body>

<H2>Available chats</H2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Chat id</th>
        <th>Title</th>
    </tr>
    </thead>

    <tbody>
    {% for chat_id, chat in chats %}
    <tr>
        <td><!--suppress HtmlUnknownTarget -->
            <a href="/chat_message/{{shared_secret}}/{{chat_id}}/">{{chat_id}}</a></td>
        <td>{{chat.FriendlyName}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>