*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd
*.so
*.orig
*.rej
__minitage__*
.metadata
.secret.cfg
.settings
.project
.pydevproject
*.status

jsdoc*
releases

.DS_Store
docs/build/*

*.min.js
*.min.css
*.debug.css
*.db
*.jar
.vvv
venv
venv-py2
__pycache__
virtualenv.py
tests/test-installation-environment
settings.py
Skype4Py

.vagrant
.idea
logs/*
*.tmp
custom/*

